/* Custom stuff for research page*/

.publications {

}

.publications li {
	margin-left: 120px;
	margin-right : 120px;
	text-align: left;
	text-indent: center;
}

.blocktext {
	margin-left : 300px;
	margin-right : 300px;
}