<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/default.css">
  {% include head.html %}

  <body>

    {% include header.html %}

<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <span class="icon icon-group"></span>
      <h1><a href="#">Ian Stewart</a></h1>
      <span>Language geek, data freak</a></span>
    </div>
    <div id="triangle-up"></div>
  </div>
</div>
<div id="menu-wrapper">
    <div id="menu">
      <ul>
        <li><a href="../ianbstewart.github.io/index.html" accesskey="1" title="">Homepage</a></li>
        <li><a href="#" accesskey="../ianbstewart.github.io/aboutme.html" title="">About Me</a></li>
        <li><a href="#" accesskey="../ianbstewart.github.io/cv.html" title="">Résumé</a></li>
        <li><a href="../ianbstewart.github.io/research.html" accesskey="4" title="">Research</a></li>
        <li class="current_page_item"><a href="#" accesskey="5" title="">Blog</a></li>
      </ul>
    </div>
</div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
