---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <h3 class="title">
                         {% include page_menu.html %}
                    </h3>
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                <!-- news -->
                <!-- TODO: make this a for-loop -->
                 <hr class="hr-line">
                 <h3><b>News</b></h3>
                <ul>
                    <li><b>October 2021</b>: Interested in NLP methods for computational social science? Check out the upcoming tutorial series [here](https://nlp-css-201-tutorials.github.io/nlp-css-201-tutorials/). 
                    <li><b>18 March 2021</b>: I presented a lecture for the Information Retrieval course about topic models. Materials <a href="https://docs.google.com/presentation/d/1ygOIzor_QTAspI3J7BsLVuZXFUFitbIe4ufzbRieros/">here</a>.
                </ul>
                 <hr class="hr-line">
                 {% include social-links.html %}
                 Site template from <a href="https://taylantatli.github.io/Moon/">Moon</a>.
                 <br></br>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
