---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <h3 class="title">
                         {% include page_menu.html %}
                    </h3>
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                <!-- news -->
                <!-- TODO: make this a for-loop -->
                 <hr class="hr-line">
                 <h3><b>News</b></h3>
                <ul>
                <li><b>May 2023</b>: Preprint with Sameera Horawalavithana, Sai Munikoti, and Henry Kvinge: <a href="https://arxiv.org/abs/2307.01139">SCITUNE: Aligning Large Language Models with Scientific Multimodal Instructions</a>.
                <li><b>May 2023</b>: Paper accepted at KONVENS Teaching for NLP workshop, with Katie Keith: <a href="https://gscl.org/en/events/teach4nlp2023">Democratizing Machine Learning for Interdisciplinary Scholars: Reflections on the NLP+CSS Tutorial Series</a>.
                <li><b>May 2023</b>: Paper accepted at JMIR Formative Research, with Charlie Welch, Rada Mihalcea, Ken Resnicow, Lawrence An, and Jamie Pennebaker: <a href="https://formative.jmir.org/2023/1/e40277">Expressive Interviewing Agents to Support Health-Related Behavior Change: Randomized Controlled Study of COVID-19 Behaviors</a>.
                </ul>
                 <hr class="hr-line">
                 {% include social-links.html %}
                 Site template from <a href="https://taylantatli.github.io/Moon/">Moon</a>.
                 <br></br>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
